.section9-main-container {
    height: 10vh;
    background-color: #ffffff;
    padding: 2% 5%;
    color: #5f6a8f;

    display: flex;
    /* align-content: space-between; */
    justify-content: space-between;
    align-items: center;
}

.section9-option-mainContLogo {
    display: flex;
    color: #5f6a8f;
    flex: 1;


    flex-direction: row;
    /* background-color: aqua;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */

}