.section9-main-container {
    height: 50vh;
    background-color: #2F2E41;
    padding: 2% 5%;
    display: flex;
    /* align-content: space-between; */
    justify-content: space-between;
}

.section9-option-mainCont {
    display: flex;
    color: white;
    flex: 1;
    padding: 2%;
    justify-content: center;

    flex-direction: column;
    /* background-color: aqua;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */

}

.section9-option-mainContLogo {
    display: flex;
    color: white;
    flex: 1;
    padding: 2%;
    padding-bottom: 0;
    justify-content: center;
    flex-direction: column;
}

.Links {
    margin: 1% 0;
    cursor: pointer;
}

.info {
    margin: 1% 0;
    /* cursor: pointer; */
}

.Links:hover {
    color: #F50057;
}