.section1-container {
    height: 100vh;
    /* width: 100vw; */
    /* background-color: aqua; */
    display: flex;
}

.section1-text-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    background-image: url('../../Vector 1.svg');
    background-repeat: no-repeat;
    background-size: 93% 92%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.section1-button-maindiv {
    margin-top: 7%;
    cursor: pointer;
    font-weight: 600;
    /* font-size: 1.5rem; */
    letter-spacing: .5px;
    padding: 25px 45px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.section1-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}