.section3-main-container {
    height: 100vh;
    display: flex;

}

.section3-logo-main-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-text-main-div {
    flex: 1;
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../../vector2.svg');

    /* background-size:; */

    /* background-color: purple; */

}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.actives {
    transform: translateY(0);
    opacity: 1;
}